
.buttontest{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 7px;
    width: 120px;
    background-color:#57A0D3;
    color:#fffafa;
}
.buttontest:hover{
    background-color: #4682B4; 
}
/* button:disabled {
    border: 1px solid transparent;
    border-radius: 20px; 
    padding: 7px;
    width: 120px;
    background-color:black;
    color:#fffafa;
} */