#emptycart{
    text-align: center;
}
/* .card-content{
    text-align: left;
} */
.price-text{
    float:right;
    font-size: 42px;
}
@media only screen 
  and (max-width: 967px) {
    .price-text{
        float:none;
    }
  }
