#emptycart{
    text-align: center;
}
.price-text{
    float:right;
    font-size: 42px;
}
@media only screen 
  and (max-width: 967px) {
    .price-text{
        float:none;
        display:block;
    }
  }
