.hidden-title, .hidden-crd{
    display:none;
}
#shown-crd{
    text-align: left;
}


@media only screen 
  and (max-device-width: 967px) {
    .hidden-title, .hidden-crd{
        display: block;
    }
    .shown-title, #shown-crd, .price-text{
        display:none;
    }
    .card-content{
        text-align: center;
    }
  }