body {
    font-family: Arial, Helvetica, sans-serif;
    margin:30px !important;
    background-color:black;
}
h2{
    font-size: 100px;
}

/* Maybe make another ccs file elsewhere without writing inline styles */
